.homePage {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 30px; */
  background: linear-gradient(to bottom, #2c1d52, #0b0b0e 20% 100%),
    url("../../assets/newBanners/bgBanner.svg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  overflow: hidden;
}


.homePage__header {
  width: 100%;
  margin-top: 70px !important;
  display: flex;
  padding: 30px 30px 0 30px;
  gap: 5px;
}

.homePage__images {
  width: 500px;
  height: 400px;
}

.homePage__images>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
}

.homePage__texts {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homePage__title_x {
  text-wrap: nowrap;
}

.homePage__title {
  font-size: 55px;
  text-align: start;
  font-weight: 600 !important;
  line-height: 60px;
  color: rgba(255, 255, 255, 1);
}

.homePage__subtitle {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  max-width: 400px;
  margin-bottom: 30px;
  font-weight: 300 !important;
  z-index: 1;
  margin-top: 30px !important;
  text-align: start;
}

/* ==============Banner slider================= */
.slider-container {
  width: 100%;
  padding-bottom: 30px;
  background: #0B0B0E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.mySwiper {
  width: 93%;
  height: 300px;
  padding: 0 40px;
}

.swiper-slide {
  width: 90%;
  height: 350px;
  border-radius: 20px;
  background: rgba(114, 65, 211, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

}

.swiper-slide_cert {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background: rgba(114, 65, 211, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px !important;
}


.swiper-slide-main_img {
  background: #000203;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/newBanners//slide2.png");
  background-position: center -65px;
  background-repeat: no-repeat;
  background-size: 59%;
  border-radius: 20px;
}

.swiper-slide-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 3;

  display: flex;
  align-items: center;
  gap: 10px;
}

.simple-btn>p {
  margin-right: 10px;
  font-size: 13px;
  color: #fae2ff;
}

.prev-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.79px solid rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.next-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 0.79px solid rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.swiper-pagination {
  display: none !important;
}

.prev-btn:hover {
  background-color: white;
  color: black;
}

.next-btn:hover {
  color: black;
}

.homeslide__left {
  width: 35%;
  height: 100%;
  /* background: #000; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}

.homeslide__left>div>h1 {
  text-align: start;
  font-weight: 500;
  font-size: 35px;
  margin-top: 10px;
}

.homeslide__left>div>p {
  text-align: start;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #b0a3cb;
}

.homeslide__left>a>button {
  padding: 9px 18px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.homeslide__right {
  width: 58%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.homeslide__right>img {
  width: 280px;
  height: 210px;
  border-radius: 10px;
}

.homeslide__right_box {
  width: 55%;
  height: 210px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.homeslide__right_box>div {
  width: 100%;
  display: flex;
}

.homeslide__right_box>div>div {
  margin: 0 5px;
}

.homeslide__right_box>div>div>svg {
  height: 22px;
  width: 22px;
}

.homeslide__right_box>div>p {
  text-align: start;
  font-size: 14px;
}

/* =============Old===================== */





.homePage__support-img {
  width: 155px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage__support-img img {
  width: 100%;
  height: 100%;
}

.homePage__subtitle-bottom {
  font-size: 1.6rem;
  color: #666;
  font-weight: 300 !important;
  z-index: 1;
  margin-top: 20px !important;
}

.homePage__signUpButton {
  font-size: 1.2rem;
  color: #fff;
  background-color: #142230;
  padding: 16px 24px;
  border: none;
  border-radius: 9px;
  font-weight: 700 !important;

  cursor: pointer;
}

.homePage__signUpButton:hover {
  background-color: #14223096;

}

.homePage__support {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  object-fit: cover;
  max-width: 472px;
  max-height: 64px;
  width: 100%;

}

.homePage__supportLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  object-fit: cover;
  max-height: 64px;
  width: 100%;

}

.homePage__support>img {
  width: 100%;
  height: 100%;
}

.homePage__supportText {
  font-size: 1rem;
  color: #666;
  margin-right: 15px;
}

.homePage__logos {
  display: flex;
  gap: 20px;
}

.homePage__logo {
  font-size: 1rem;
  font-weight: bold;
}

.homePage__logo--okx span {
  display: block;
  color: #333;
}

.homePage__comingSoon {
  font-size: 0.75rem;
  color: #888;
}

.homePage__logo--binance {
  color: #f0b90b;
}

.homePage__logo--bybit {
  color: #f7931a;
}

/* ------------Marketplace------------------ */
/* Marketplace.css */
.marketplace {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.marketplace-subtitle_pass {
  font-size: 60px;
  font-weight: 550;
  line-height: 84px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.marketplace-subtitle_pass p {
  background: linear-gradient(90deg, #35009E 0%, #8F41D3 51.9%, #CD11EE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.reting_btns-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 30px;
}

/* Asosiy tugma uslubi */
.reting_btns-banner button {
  position: relative;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  text-wrap: nowrap;
  transition: color 0.3s ease;
}

.reting_btns-banner button:hover {
  color: #007bff;
  /* Hover holatida matn rangi */
}

/* Border-bottom animatsiyasi */
.reting_btns-banner button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1.5px;
  /* Pastki chiziq qalinligi */
  background: #007bff;
  /* Animatsiya chizig'i rangi */
  transition: width 0.3s ease;
  /* Kengayish tezligi */
}

.reting_btns-banner button:hover::after {
  width: 100%;
  /* Tugmani to'liq qoplash */
}




/* 
.reting_btns-banner button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13px;
} */

.reating_banner_conts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .reating_banner_conts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

  }

  .reating_banner_box {
    width: 100%;
    min-width: 200px;
  }
}

.reating_banner_box {
  width: 40%;
  min-width: 520px;
}

.reating_banner_box span {
  display: flex;
  align-items: center;
  gap: 10px;

}

.reating_banner_box span>strong {
  font-size: 20px;
  font-weight: 550;
  line-height: 30.8px;
  letter-spacing: -0.02em;
  text-align: left;
}

.reating_banner_box>span>p {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 4px;
}

.reting_banner_cards {
  width: 100%;
  border: .3px solid #80808038;
  border-radius: 30px;
  padding: 10px 16px 0 16px;
}

.name_reting_user {
  font-size: 13px;
}

.name_reting_user>p {
  font-size: 12px;
  color: #666;
}

.item-rank-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0px;
  border: 1px solid #7241d3;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-right: 10px;
}

.card_ret-bann {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: .3px solid #80808038;
  padding: 5px 0;
}

.card_ret-bann:last-child {
  border-bottom: none;
}

.item-rank {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0px;
  border: 1px solid #7241d3;
  background: #7241d3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-right: 10px;
}

.name_reting_res {
  width: 70px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}




/* ===================== */
.weSupport_container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.weSupport_container>div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weSupport_container>button {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 17px;
  color: #fff;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #35009E 0%, #8F41D3 51.9%, #CD11EE 100%);
}

.weSupport_container>button:hover {
  background: linear-gradient(90deg, #8F41D3 0%, #CD11EE 51.9%, #35009E 100%);
}

/* ========Our tariffs======= */

.ourTariffs {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  background: linear-gradient(to bottom, #0b0b0e, #0b0b0e 20% 100%),
    url("../../assets/newBanners/bgBanner.svg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}